.container-header {
  padding-top: 50px;
  background-image: linear-gradient(to right, #252d40, #111626); }
  .container-header .sign-key-logo {
    margin-right: 50px; }
  .container-header .navbar-collapse {
    color: #ffffff; }
    .container-header .navbar-collapse .nav-link {
      color: #636a77; }
    .container-header .navbar-collapse .nav-link:hover {
      color: #ffffff; }

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: #ffffff; }

.wrap-content {
  font-family: 'Nunito';
  text-align: center; }
  .wrap-content h3 {
    font-size: 30px;
    color: #242c3e; }
  .wrap-content p {
    font-size: 18px;
    color: #a7acb2; }

.about-infor {
  display: flex;
  margin-top: 170px;
  font-family: 'Nunito';
  color: #ffffff; }
  @media (max-width: 575.98px) {
    .about-infor {
      margin-top: 100px;
      flex-wrap: wrap; } }
  .about-infor .infor-sign-key {
    flex: 2; }
    .about-infor .infor-sign-key .wrap-select {
      display: flex;
      flex: 1;
      margin-right: 20px; }
      @media (max-width: 575.98px) {
        .about-infor .infor-sign-key .wrap-select {
          width: 70%;
          margin-bottom: 20px; } }
      .about-infor .infor-sign-key .wrap-select .about-select-language {
        flex: 3;
        background-color: #333947;
        border: solid 1px #ffffff;
        margin-right: 0 !important;
        color: #ffffff;
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0; }
      .about-infor .infor-sign-key .wrap-select .custom-select {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='white' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E"); }
      .about-infor .infor-sign-key .wrap-select .white-paper {
        flex: 5;
        background-color: #333947;
        border: solid 1px #ffffff;
        color: #ffffff;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0; }
    .about-infor .infor-sign-key .about-tech {
      display: flex;
      max-height: 38px; }
      .about-infor .infor-sign-key .about-tech .ceo-message {
        flex: 1;
        padding-top: 7px;
        text-align: center;
        color: #e8b675; }
        @media (max-width: 575.98px) {
          .about-infor .infor-sign-key .about-tech .ceo-message {
            flex: 1;
            text-align: left;
            margin-left: 20px; } }
      .about-infor .infor-sign-key .about-tech .pitch-check {
        flex: 1; }
        @media (max-width: 575.98px) {
          .about-infor .infor-sign-key .about-tech .pitch-check {
            flex: 0; } }
      @media (max-width: 575.98px) {
        .about-infor .infor-sign-key .about-tech {
          flex-direction: column;
          max-height: 200px; } }
  .about-infor .image-infor {
    flex: 1;
    text-align: right; }
    @media (max-width: 575.98px) {
      .about-infor .image-infor {
        margin-top: 100px;
        width: 100%;
        height: auto;
        text-align: center; } }

.vitual-money {
  margin-top: 200px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bold; }
  .vitual-money span {
    font-weight: normal;
    color: #bec0c6;
    margin-right: 50px; }
  @media (max-width: 575.98px) {
    .vitual-money {
      margin-top: 20px; } }

.wrap-social {
  margin-top: 100px;
  display: flex;
  background-image: linear-gradient(to top, #fdfdfe, #fdfdfe);
  background-image: url("images/2.png"); }
  .wrap-social .form-control {
    border-right: none;
    border-radius: 0; }
  .wrap-social .sale-confirm-button {
    padding: 0 10%;
    color: #ffffff;
    border-radius: 2px;
    background-color: #333947; }
  .wrap-social .sale-label {
    font-size: 20px;
    font-weight: bold; }
  .wrap-social img {
    flex: 1;
    text-align: right; }
  @media (max-width: 575.98px) {
    .wrap-social {
      flex-direction: column; }
      .wrap-social img {
        text-align: center;
        width: 100%;
        height: auto; } }

.wrap-mission {
  margin-top: 100px;
  display: flex;
  flex-direction: column; }
  .wrap-mission h3 {
    margin-bottom: 24px; }
  .wrap-mission .tab-content {
    text-align: center; }
  .wrap-mission .tab-video {
    margin-top: 100px; }
  .wrap-mission ul {
    margin-bottom: 50px; }
    .wrap-mission ul li:first-child {
      margin-left: 33%; }
      @media (max-width: 575.98px) {
        .wrap-mission ul li:first-child {
          margin-left: 0%; } }
  .wrap-mission .nav-link {
    font-size: 20px;
    color: #a7acb2; }
    @media (max-width: 575.98px) {
      .wrap-mission .nav-link {
        font-size: 12px; } }
  .wrap-mission .nav-link.active {
    color: #242c3e;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #242c3e; }

.wrap-problem {
  margin-top: 100px;
  background-color: #f9f9fb; }
  .wrap-problem .wrap-content {
    padding-top: 100px; 
    margin-left: 15%;
    margin-right: 15%;}
    .wrap-problem .wrap-content p {
      margin-top: 24px; }
  .wrap-problem .wrap-icon-problem {
    display: flex;
    flex-direction: column; }
    .wrap-problem .wrap-icon-problem .icon-row-arrange {
      display: flex;
      justify-content: space-between; 
      margin-left: 15%;
      margin-right: 15%}
      .wrap-problem .wrap-icon-problem .icon-row-arrange .icon-description {
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        align-items: center; }
        .wrap-problem .wrap-icon-problem .icon-row-arrange .icon-description p {
          font-size: 18px;
          color: #242c3e;
          margin-top: 20px; }
      @media (max-width: 575.98px) {
        .wrap-problem .wrap-icon-problem .icon-row-arrange {
          flex-direction: column; } }
    .wrap-problem .wrap-icon-problem .load-more-button {
      margin-left: 45%;
      margin-bottom: 100px;
      margin-top: 100px; }
      .wrap-problem .wrap-icon-problem .load-more-button:hover {
        cursor: pointer; }
      @media (max-width: 575.98px) {
        .wrap-problem .wrap-icon-problem .load-more-button {
          margin-left: 0;
          text-align: center; } }
    .wrap-problem .wrap-icon-problem .load-more-icon {
      display: none; }
    .wrap-problem .wrap-icon-problem .load-less-button {
      display: none;
      margin-left: 45%;
      margin-bottom: 100px;
      margin-top: 100px; }
      .wrap-problem .wrap-icon-problem .load-less-button:hover {
        cursor: pointer; }
      @media (max-width: 575.98px) {
        .wrap-problem .wrap-icon-problem .load-less-button {
          margin-left: 0;
          text-align: center; } }

.wrap-solution {
  padding-top: 100px; }
  .wrap-solution h3 {
    margin-bottom: 24px; }
  .wrap-solution .solution-content {
    margin-top: 80px;
    display: flex;
    flex-direction: column; }
    .wrap-solution .solution-content .solution-content-detail {
      display: flex;
      margin-bottom: 70px; }
      .wrap-solution .solution-content .solution-content-detail .rounded-circle {
        display: inline-block;
        width: 28px;
        height: 28px;
        border: 2px solid #171d2e;
        position: absolute; }
      .wrap-solution .solution-content .solution-content-detail .explain-solution {
        padding-left: 50px; }
        .wrap-solution .solution-content .solution-content-detail .explain-solution label {
          font-size: 18px;
          font-weight: bold;
          color: #242c3e; }
        .wrap-solution .solution-content .solution-content-detail .explain-solution p {
          font-size: 18px;
          color: #a7acb2; }
      @media (max-width: 575.98px) {
        .wrap-solution .solution-content .solution-content-detail {
          flex-direction: column; } }
    .wrap-solution .solution-content .solution-content-detail:last-child {
      width: 50%; }
      @media (max-width: 575.98px) {
        .wrap-solution .solution-content .solution-content-detail:last-child {
          width: 100%; } }

.feature-content {
  padding-bottom: 100px;
  background-image: linear-gradient(to right, #252d40, #111626); }
  .feature-content .feature-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    font-family: 'Nunito'; }
    .feature-content .feature-description h3 {
      margin-top: 100px;
      font-size: 30px; }
    .feature-content .feature-description p {
      margin-top: 24px;
      font-size: 18px;
      text-align: center; }
  .feature-content .feature-icon {
    margin-top: 120px;
    display: flex; }
    .feature-content .feature-icon .wrap-feature-description-mobile {
      display: none; }
      @media (max-width: 575.98px) {
        .feature-content .feature-icon .wrap-feature-description-mobile {
          display: flex;
          color: #ffffff;
          flex-direction: column; } }
      .feature-content .feature-icon .wrap-feature-description-mobile .feature-description-row-mobile {
        display: flex;
        flex: 1;
        justify-content: space-between;
        margin-top: 30px; }
      .feature-content .feature-icon .wrap-feature-description-mobile li {
        list-style-type: none;
        border-bottom: 1px solid #ffffff;
        margin-top: 20px;
       }

    @media (max-width: 575.98px) {
      .feature-content .feature-icon {
        flex-direction: column; } }
    .feature-content .feature-icon .icon-detail {
      display: flex;
      flex: 1;
      color: #ffffff;
      flex-direction: column; 
      padding-left: 2%;
      padding-right: 3%;}
      .feature-content .feature-icon .icon-detail .feature-description {
        display: flex;
        flex: 1;
        flex-direction: column; }
        .feature-content .feature-icon .icon-detail .feature-description .feature-description-row {
          width: 90%;
          display: flex;
          justify-content: space-between; }
          .feature-content .feature-icon .icon-detail .feature-description .feature-description-row .image-feature {
            height: fit-content; }
        .feature-content .feature-icon .icon-detail .feature-description li {
          width: 90%;
          list-style-type: none;
          border-bottom: 1px solid #ffffff;
          margin-top: 20px; 
        }

      @media (max-width: 575.98px) {
        .feature-content .feature-icon .icon-detail {
          display: none; } }
.container-table {
  margin-top: 100px;
  padding-right: 0;
  padding-left: 0; }
  .container-table .table-mobile {
    display: none; }
  @media (max-width: 575.98px) {
    .container-table .table-desktop {
      display: none; }
    .container-table .table-mobile {
      display: block; }
      .container-table .table-mobile thead th {
        background-color: #f8f8f8;
        border-top: none;
        border-bottom: none; } }
  .container-table .table-desktop thead {
    background-color: #f8f8f8; }
    .container-table .table-desktop thead th:not(:first-child) {
      text-align: center; }
    .container-table .table-desktop thead th:first-child {
      padding-left: 30px; }
  .container-table .table-desktop tbody th {
    max-width: 250px;
    font-family: 'Nunito';
    font-size: 18px;
    font-weight: normal;
    color: #242c3e;
    padding-left: 30px; }
  .container-table .table-desktop tbody td {
    text-align: center; }

.company-roadmap {
  margin-top: 100px;
  background-color: #f9f9fb; }
  .company-roadmap .roadmap-sumary {
    padding-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column; }
  .company-roadmap .timeline-dialog {
    margin-left: -100px;
    width: 350px;
    height: 160px;
    background-color: #171d2e;
    display: none;
    color: #ffffff; }
    .company-roadmap .timeline-dialog p {
      margin-bottom: 5px;
      font-size: '16px';
      font-family: 'Nunito'; }
  @media (max-width: 575.98px) {
    .company-roadmap section {
      display: none; } }

.over-word {
  margin-top: 100px; }
  .over-word .symbol-over-world {
    display: flex;
    margin-bottom: 100px; }
    @media (max-width: 575.98px) {
      .over-word .symbol-over-world {
        margin-bottom: 30px; } }

.virtual-currency {
  display: flex;
  justify-content: space-between; }
  .virtual-currency label {
    font-family: 'Nunito';
    font-size: 30px;
    font-weight: bold;
    color: #242c3e; }
  .virtual-currency p {
    font-family: 'Nunito';
    font-size: 18px;
    color: #242c3e; }
  @media (max-width: 575.98px) {
    .virtual-currency {
      flex-direction: column; }
      .virtual-currency .token-sale {
        margin-bottom: 40px; } }

.foundation-team {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .foundation-team label {
    font-size: 30px;
    color: #242c3e; }
  .foundation-team .co-founder {
    margin-top: 60px;
    display: flex;
    justify-content: space-between; }
    @media (max-width: 575.98px) {
      .foundation-team .co-founder {
        flex-direction: column;
        align-items: center; } }
  .foundation-team .responesive {
    max-width: 188px;
    height: auto;
    margin-bottom: 30px; }
  .foundation-team .co-founder-image:not(:last-child) {
    padding-right: 40px; }
    @media (max-width: 575.98px) {
      .foundation-team .co-founder-image:not(:last-child) {
        padding-right: 0; } }
  @media (max-width: 575.98px) {
    .foundation-team .co-founder-name {
      display: flex;
      flex: 1;
      flex-direction: column; } }
  .foundation-team .co-founder-name {
    font-size: 18px;
    font-weight: bold;
    color: #242c3e; }
  .foundation-team .co-founder-position {
    font-size: 18px;
    color: #a7acb2; }

.partner {
  padding-top: 100px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column; }
  .partner .wrap-partner-image {
    display: flex;
    flex-wrap: wrap; }
    @media (max-width: 575.98px) {
      .partner .wrap-partner-image {
        display: none; } }
    .partner .wrap-partner-image .partber-image {
      padding-top: 80px;
      padding-right: 60px; }
  .partner .wrap-partner-image-mobile {
    display: none; }
  @media (max-width: 575.98px) {
    .partner .wrap-partner-image-mobile {
      display: flex;
      flex-direction: column; }
      .partner .wrap-partner-image-mobile .two-column-image {
        margin-top: 30px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between; }
        .partner .wrap-partner-image-mobile .two-column-image img {
          max-width: 45%;
          max-height: 24px; } }

.in-the-progress {
  padding-top: 50px;
  padding-bottom: 100px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #e9e9e9;
  display: flex;
  flex-direction: column; }
  .in-the-progress .wrap-partner-image {
    display: flex;
    flex-wrap: wrap; }
    @media (max-width: 575.98px) {
      .in-the-progress .wrap-partner-image {
        display: none; } }
    .in-the-progress .wrap-partner-image .partber-image {
      padding-top: 80px;
      padding-right: 60px; }
  .in-the-progress .wrap-partner-image-mobile {
    display: none; }
  @media (max-width: 575.98px) {
    .in-the-progress .wrap-partner-image-mobile {
      display: flex;
      flex-direction: column; }
      .in-the-progress .wrap-partner-image-mobile .two-column-image {
        margin-top: 30px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between; }
        .in-the-progress .wrap-partner-image-mobile .two-column-image img {
          max-width: 45%;
          max-height: 24px; } }

.contact-us {
  color: #ffffff;
  font-family: Nunito;
  background-image: linear-gradient(to right, #252d40, #111626);
  display: flex;
  flex-direction: column; }
  .contact-us .contact-introdue {
    flex: 1;
    padding-top: 100px;
    text-align: center; }
    .contact-us .contact-introdue label {
      font-size: 30px;
      margin-bottom: 30px; }
    .contact-us .contact-introdue p {
      font-size: 18px;
      margin-bottom: 80px; }
  .contact-us .submit-form {
    display: flex;
    flex-direction: column;
    padding: 0 15%; }
    .contact-us .submit-form input {
      color: #ffffff;
      background-color: inherit;
      border-top: none;
      border-right: none;
      border-left: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0; }
    .contact-us .submit-form .your-name-input {
      flex: 1;
      margin-right: 5%; }
    .contact-us .submit-form .email-address-input {
      flex: 1;
      margin-left: 5%; }
    .contact-us .submit-form .name-address {
      display: flex;
      margin-bottom: 100px; }
    @media (max-width: 575.98px) {
      .contact-us .submit-form .name-address {
        flex-direction: column; }
        .contact-us .submit-form .name-address .your-name-input {
          flex: 1;
          margin-right: 0; }
        .contact-us .submit-form .name-address .email-address-input {
          flex: 1;
          margin-left: 0;
          margin-top: 60px; } }
  .contact-us .btn-submit {
    border-radius: 4px;
    background-color: #e8b675; }

.footer {
  padding-top: 100px; }
  .footer .location {
    display: flex;
    justify-content: space-between;
    font-family: 'Nunito';
    font-size: 18px; }
    .footer .location h3 {
      font-weight: bold;
      color: #242c3e;
      margin-bottom: 30px; }
    .footer .location p {
      color: #a7acb2; }
    .footer .location div:not(:last-child) {
      margin-right: 40px; }
    .footer .location .last-location {
      text-align: right; }
    .footer .location .center-location {
      text-align: center; }
  .footer hr {
    margin-top: 40px;
    margin-bottom: 40px; }
  .footer .copy-right {
    display: flex;
    justify-content: space-between; }
    .footer .copy-right span {
      font-family: 'Nunito';
      font-size: 18px;
      margin-bottom: 40px; }
  .footer .copy-right-mobile {
    display: none; }
  @media (max-width: 575.98px) {
    .footer .copy-right {
      display: none; }
    .footer .copy-right-mobile {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .footer .copy-right-mobile span:first-child {
        margin-bottom: 20px; }
    .footer .location {
      flex-direction: column;
      text-align: center; }
      .footer .location .last-location {
        text-align: center; }
      .footer .location div:not(:last-child) {
        margin-right: 0; } }

.inprogess-image {
  margin-right: 30px; }

.text-partner {
  padding-top: 5px;
  font-size: 30px;
  color: #242c3e; }

  .dotted-line {
    fill: none;
    stroke: white;
    stroke-width: 2;
    marker: url(#circle-marker);
  }
  #circle-marker circle {
    fill: white;
    stroke: white;
  }

  /* .dotted-line .wrap-feature-description-mobile {
    fill: none;
    stroke: red;
    stroke-width: 2;
    marker: url(#circle-marker);
  }
  #circle-marker circle .wrap-feature-description-mobile {
    fill: red;
    stroke: red;
  } */
/*# sourceMappingURL=style.css.map */
